body{
    background-color: white;
}


.cim{
    text-align: center;

}


button{
    background-color: darkgray;
    width: 400px;
    height: 50px;
}


img{
    width: 465px;
    height: 300;
}


.img{
    text-align: center;
}


.img2{
    text-align: center;
}


.lapok{
    text-align: center;
}


