body{
    background-color: #778899;
}


.cim{
    text-align: center;
    

}


button{
    width: 200px;
    height: 50px;
}

img{
 display: block;
margin-left: auto;
margin-right:auto;

    
}


